.add-property-item, .list-prop-item {
    display: inline-block;
    width: 150px
}

.admin-image-grid {
    text-align: center;
}

.admin-image-gallery {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.btn-img {
    margin: 30px 0 70px 0;
}