.pagination .disabled {
    display: none;
}

.materialize-textarea {
    height: 130px !important;
}

#toast-container {
    top: 0px !important;
    right: 0px !important;
}

.list-comments {
    overflow-y: scroll;
    max-height: 400px;
    overflow-x: hidden;
}

/* width */
.list-comments::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.list-comments::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.list-comments::-webkit-scrollbar-thumb {
    background: #c7a354;
}

/* Handle on hover */
.list-comments::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.custom-inn-com-form {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.search-room-detail-btn {
    padding: 15px 10px;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
    font-size: 14px !important;
    display: inline-block;
    background: #d0ae64;
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);
    background: linear-gradient(to top, #caa65a, #dbbb75);
    margin-right: 10px;
}

.search-room-booking-btn {
    padding: 15px 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
    font-size: 14px !important;
    display: inline-block;
    background: #f4364f;
    box-sizing: border-box;
    border: none !important;
}

.form-redirect {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.book-title {
    margin-top: -108px !important;
}

.btn-logout {
    margin-left: -12px;
    padding: 0 !important;
    color: #353d42;
    background: none;
    border: none;
    font-size: 12px;
    text-transform: initial;
    font-family: 'Quicksand', sans-serif;
}

.my-booking-list-noti {
    overflow-y: scroll;
    max-height: 600px;
    overflow-x: hidden;
}

/* width */
.my-booking-list-noti::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.my-booking-list-noti::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.my-booking-list-noti::-webkit-scrollbar-thumb {
    background: #c7a354;
}

/* Handle on hover */
.my-booking-list-noti::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.logo img, .foot-logo img{
    max-width: 200px !important;
    object-fit: cover !important;
}
